@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Limelight|Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aclonica|Rye|Squada+One|Ultra&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

ul {
    list-style: none;

}

body {
    background: #bfbfbf url("assets/picture/background.jpg") repeat-x;
    font-family: "Aclonica", Helvetica, sans-serif;
}

header {
    padding: 2rem 0;
}

h1 {
    font-size: 6rem;
    text-align: center;
    color: #ffd700;
    text-shadow: 3px 3px 3px #000;
}

/*-------------------------MAIN MENU------------------*/

#main-menu ul {
    width: 98rem;
    height: 50rem;
    margin: 0 24%;
    padding-top: 14.3rem;
}

#main-menu ul li {
    float: left;
    width: 14rem;
    height: 50rem;
    overflow: hidden;
    position: relative;
}

.bw {
    position: absolute;
    left: 0;
    width: 14rem;
    height: 50rem;
    cursor: pointer;
    background: url('assets/picture/bw-image.jpg') no-repeat;
    opacity: .7;
}

.color {
    position: absolute;
    left: 14rem;
    width: 14rem;
    height: 50rem;
    cursor: pointer;
    background: url('assets/picture/color-image.jpg') no-repeat;
}

#part2 div {
    background-position: -14rem 0;
}

#part3 div {
    background-position: -28rem 0;
}

#part4 div {
    background-position: -42rem 0;
}

#part5 div {
    background-position: -56rem 0;
}

.description {
    position: absolute;
    left: 14rem;
    width: 24rem;
    height: 46rem;
    padding: 2rem;
    background: #fff;
}

.description h2 {
    font-family: 'Limelight', Helvetica, sans-serif;
    padding-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #333;
}

.description h3 {
    font-family: 'Lobster', Helvetica, sans-serif;
    padding: 1rem;
    margin-top: 3rem;
    font-size: 2.6rem;
    background: #d70000;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
}

.description p {
    padding-top: 3.5rem;
    text-align: center;
}

.description a {
    font-family: 'Lobster', Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #000;
    text-decoration: none;
}

.description a:hover {
    color: #0000ff;
}

/*-------------------------------BUTTONS-----------------------*/

#buttons-menu {
    float: left;
    width: 100%;
    margin-top: 1rem;

}

#buttons-menu ul {
    float: left;
    position: relative;
    left: 49%;
    text-align: center;
}

.button {
    float: left;
    width: 15rem;
    margin-left: 5rem;
    padding: 1rem 0;
    position: relative;
    right: 50%;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Lobster', Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .75);
    background: #333;
    border: 5px solid #b70000;
    font-size: 2.2rem;
    cursor: pointer;
}

.hovered {
    background: #b70000;
    border: 5px solid #333;
    font-size: 2.4rem;
}

/*--------------------------------FOOTER-----------------------*/
.contact-footer {
    text-align: center;
    margin-top: 2.5rem;
}

.p-footer {
    text-align: center;
    color: #ffd700;
    text-shadow: 2px 2px 2px black;
    font-size: 2rem;
    margin-top: 1rem;
}